### Script: .gitlab-ci.yml
##
## GitLab CIの設定。
##
## Metadata:
##
##   id - bf5a1eb1-afd6-4eef-ac6e-ec1bee8cac95
##   author - <qq542vev at https://purl.org/meta/me/>
##   version - 1.0.0
##   created - 2026-02-14
##   modified - 2026-02-14
##   copyright - Copyright (C) 2026-2026 qq542vev. All rights reserved.
##   license - <GPL-3.0-only at https://www.gnu.org/licenses/gpl-3.0.txt>
##
## See Also:
##
##   * <Project homepage at https://github.com/qq542vev/newmoon-sfs>
##   * <Bag report at https://github.com/qq542vev/newmoon-sfs/issues>
variables:
  SSH_URL: "ssh://git@${CI_SERVER_SHELL_SSH_HOST}:${CI_SERVER_SHELL_SSH_PORT}/${CI_PROJECT_PATH}.git"
workflow:
  rules:
    - if: '$CI_PIPELINE_SOURCE == "schedule"' # 時限実行を許可
      when: always
    - if: '$CI_PIPELINE_SOURCE == "web"' # Webからの実行を許可
      when: always
    - when: never # その他はパイプラインを作らない
automation:
  image: ubuntu:26.04
  before_script:
    - apt-get update -qq
    - apt-get install -y --no-install-recommends ca-certificates curl findutils git jq make openssh-client rclone squashfs-tools xz-utils
  script:
    - ./automation.sh
